/* CSS Reset */
html, body, #root, .App {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html, body {
    background-color: rgb(27, 24, 21);
}

.Main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Output {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
}

.Title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10rem;
    margin-top: 50px;
    color: rgb(236, 161, 10);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.SubTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: rgb(248, 243, 237);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin: 0;
    margin-bottom: 5px;
}

.time-1 {
    margin: 20px;
    border-radius: 20px;
    border: 2px solid rgb(236, 161, 10);
    color: aliceblue;
    font-weight: bold;
    width: 100px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bold {
    color: rgb(236, 161, 10);
    font-weight: bold;
    font-size: 20px;
}

.textReferance {
    height: fit-content;
    width: 80%;
    border: 3px solid rgb(236, 161, 10);
    border-radius: 10px;
    padding: 10px;
    color: rgb(248, 243, 237);
    font-size: 5vw; /* Responsive font size based on viewport width */
    text-align: left;
    overflow: hidden;
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflow */
    margin-bottom: 20px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}



.InputReferance {
    border: 5px solid rgb(248, 243, 237);
    border-radius: 15px;
    width: 80%;
    padding: 20px;
    color: rgb(236, 161, 10);
    font-size: 20px;
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    resize: both; /* Make the container resizable */
}

.text-danger {
    color: red;
}

.ending-screen {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
}

.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
}

.ButtonReload {
    border: 3px solid rgb(236, 161, 10);
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(27, 24, 21);
    color: rgb(236, 161, 10);
    width: 100px;
    height: 100px;
    margin: 20px;
    cursor: pointer;
    transition: ease-in 0.3s;
}

.ButtonReload:hover {
    background-color: wheat;
    color: black;
}

.cpm, .wpm, .accuracy, .error {
    border: 5px solid rgb(236, 161, 10);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding: 0;
    height: 300px;
    width: 250px;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainQuote {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15vh;
}

.Quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 200px;
    width: 900px;
    text-align: center;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .Title {
        font-size: 8rem;
    }

    .Quote {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .Title {
        font-size: 6rem;
    }

    .SubTitle {
        font-size: 0.8rem;
    }

    .textReferance {
        font-size: 4rem;
    }

    .InputReferance {
        font-size: 18px;
    }

    .cpm, .wpm, .accuracy, .error {
        font-size: 40px;
        height: 250px;
        width: 200px;
    }
}

@media (max-width: 480px) {
    .Title {
        font-size: 4rem;
    }

    .SubTitle {
        font-size: 0.6rem;
    }

    .textReferance {
        font-size: 3rem;
    }

    .InputReferance {
        font-size: 16px;
    }

    .cpm, .wpm, .accuracy, .error {
        font-size: 30px;
        height: 200px;
        width: 150px;
    }
}
